
/* 
    CSS styles for the glistens-tale project.
*/

/* Resetting default styles for the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/* Container for the comic */
.comic-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: black; /* Default text color */
}

/* Panels for the comic */
.panel {
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: none;
}

/* Panel 1 */
#panel1 {
    display: block;
    background-size: cover;
    background-image: url("images/start.png");
}

/* Panels with night background */
#panel7,#panel15, #panel23 {
    background-size: cover;
    background-image: url("images/night.png");
}

/* Panels with angry show background */
#panel8,#panel16, #panel24 {
    background-size: cover;
    background-image: url("images/angry_show.svg");
}

/* Styles for panel headings */
.panel h1 {
    font-size: 2em;
}

/* Styles for panel paragraphs */
.panel p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Container for buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}


/* Styles for day background */
.day{
    background-size: cover;
    background-image: url("images/morning_forest.png");
}

/* Styles for morning background */
.morning {
    background-size: cover;
    background-image: url("images/morning.svg");
}

/* Styles for night background */
.night {
    background-size: cover;
    background-image: url("images/night_forest.png");
}

/* Styles for eaten class */
.eaten {
    display: none;
}

/* Styles for bigger class */
.bigger {
    transform:scale(1.2);
}

/* Styles for much_bigger class */
.much_bigger {
    transform:scale(1.5);
}

/* Styles for much_much_bigger class */
.much_much_bigger {
    transform:scale(2);
}

/* Styles for scene class */
.scene {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styles for slime class */
.slime {
    position: absolute;
    top: 50%;
    left:35%;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image: url('images/Slime.svg'); 
}

/* Styles for shock class */
.shock{
    background-size: cover;
    background-image: url('images/shock.svg');
}

/* Styles for sad class */
.sad{
    background-size: cover;
    background-image: url('images/sad.svg');
}

/* Styles for slime-night class */
.slime-night {
    background-image: url("images/angry_slime.svg");
}

/* Styles for sad_right class */
.sad_right{
    background-size: cover;
    background-image: url('images/sad_right.svg');
}

/* Styles for smile_right class */
.smile_right{
    background-size: cover;
    background-image: url('images/smile_right.svg');
}

/* Styles for animal class */
.animal {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: cover;
}

/* Styles for animal-night class */
.animal-night {
    cursor: pointer;
    animation: bounce 2s infinite;
}

/* Styles for eat class */
.eat {
    background-size: cover;
    background-image: url("images/stomach.svg");
}

/* Styles for rabbit class */
.rabbit {
    top: 50%;
    left: 25%;
    background-image: url('images/rabbit.png'); /* Path to the rabbit image */
}

/* Styles for rabbit-stomach class */
.rabbit-stomach {
    width:500px;
    height:500px;
    top: 35%;
    left: 30%;
    background-image: url('images/rabbit.png'); /* Path to the rabbit-stomach image */
    display:none;
    opacity: 0.5;
}

/* Styles for squirrel class */
.squirrel {
    height:188px;
    top: 55%;
    left: 55%;
    background-image: url('images/squirrel.png'); /* Path to the squirrel image */
}

/* Styles for squirrel-stomach class */
.squirrel-stomach {
    width:500px;
    height:470px;
    top: 35%;
    left: 30%;
    background-image: url('images/squirrel.png'); /* Path to the squirrel image */
    display: none;
    opacity: 0.5;
}

/* Styles for hamster class */
.hamster {
    height: 167px;
    top: 80%;
    left: 20%;
    background-image: url('images/hamster.png'); /* Path to the hamster image */
}

/* Styles for hamster-stomach class */
.hamster-stomach {
    width:500px;
    height: 417px;
    top: 35%;
    left: 30%;
    background-image: url('images/hamster.png'); /* Path to the hamster image */
    display:none;
    opacity: 0.5;
}

/* Styles for snail class */
.snail {
    height: 167px;
    top: 70%;
    left: 62%;
    background-image: url('images/snail.png'); /* Path to the snail image */
}

/* Styles for text class */
.text {
    position: absolute;
    background-size: cover;
    width: 220px;
    height: 220px;
    overflow: visible;
}

/* Styles for text2 class */
.text2 {
    height: 190px;
    width: 190px;
    top: 45%;
    left: 45%;
    overflow: visible;
    background-image: url('textboxes/2.svg'); 
}

/* Styles for text3 class */
.text3 {
    height: 13%;
    width: 15%;
    top: 50%;
    left: 42%;
    background-image: url('textboxes/3.svg');
}

/* Styles for text4 class */
.text4 {
    height: 13%;
    width: 350px;
    top: 50%;
    left: 42%;
    background-image: url('textboxes/4.svg'); 
}

/* Styles for text5 class */
.text5 {
    height: 13%;
    width: 350px;
    top: 50%;
    left: 42%;
    background-image: url('textboxes/5.svg'); 
}

/* Styles for text6 class */
.text6 {
    height: 13%;
    width: 15%;
    top: 50%;
    left: 42%;
    background-image: url('textboxes/6.svg'); 
}

/* Styles for text7 class */
.text7 {
    height: 15%;
    width: 365px;
    top: 48%;
    left: 42%;
    background-image: url('textboxes/7.svg'); 
}

/* Styles for text8 class */
.text8 {
    height: 15%;
    width: 365px;
    top: 48%;
    left: 42%;
    background-image: url('textboxes/8.svg'); 
}

/* Styles for text9 class */
.text9 {
    height: 200px;
    width: 200px;
    top: 45%;
    left: 45%;
    background-image: url('textboxes/9.svg'); 
}

/* Styles for text10 class */
.text10 {
    height: 15%;
    width: 300px;
    top: 58%;
    left: 50%;
    background-image: url('textboxes/10.svg'); 
}

/* Styles for text11 class */
.text11 {
    height: 350px;
    width: 400px;
    top: 30%;
    left: 40%;
    background-image: url('textboxes/11.svg'); 
}

/* Styles for text12 class */
.text12 {
    height: 170px;
    width: 250px;
    top: 45%;
    left: 45%;
    background-image: url('textboxes/12.svg'); 
}

/* Animation keyframes for bounce effect */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
}
